@{
    ViewBag.Title = "friends";
}

<div class="wrapper">

    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-offset-1 col-sm-5">
                <form>
                    <div class="form-group">
                        <label for="searchFriend">Найти</label>
                        <input type="email" class="form-control" id="searchFriend" placeholder="Введите имя человека">
                    </div>

                    <button type="submit" class="btn btn-default">Найти</button>
                </form>

                <div class="form-signin messages-area">
                    <h6>Найдено человек</h6>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-xs-9">Имя</th>
                                <th class="col-xs-3"> Добавить в друзья</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Пользователь1</td>
                                <td>
                                    <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>Пользователь2</td>
                                <td>
                                    <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>Пользователь3</td>
                                <td>
                                    <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>Пользователь4</td>
                                <td>
                                    <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>Пользователь5</td>
                                <td>
                                    <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-sm-offset-1 col-sm-4">


                <div class="messages-area form-signin table-responsive">

                    <h6>Друзья</h6>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-xs-2">Перейти к диалогу с..</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Пользователь1</td>
                            </tr>
                            <tr>
                                <td>Пользователь2</td>
                            </tr>
                            <tr>
                                <td>Пользователь3</td>
                            </tr>
                            <tr>
                                <td>Пользователь4</td>
                            </tr>
                            <tr>
                                <td>Пользователь5</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>



        </div>
    </div>

