@{
    ViewBag.Title = "Home Page";
}


<div class="img-container">
    <img src="~/img/main.jpg" />
    <div class="text-on-carousel-left">
        <p>Добро пожаловать</p>
        <p>на новый сайт ресурса</p>
        <p>Social-Web</p>
    </div>
</div>