@{
    ViewBag.Title = "myPage";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-6">
            <div class="form-signin messages-area">
                <h6>Информация о вас</h6>
            </div>
        </div>

        <div class="col-sm-offset-1 col-sm-3">
            <div class="form-signin button-on-menu">
                
                <a type="button" class="btn  btn-lg btn-block" href="http://localhost:52697/Home/messages">Сообщения</a>
                <a type="button" class="btn  btn-lg btn-block" href="http://localhost:52697/Home/friends">Пользователи</a>
            </div>
        </div>
    </div>
</div>